@media (max-width: 375px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        background-color: #E1FF8F;
        background-image: url(img/background_mobile.png);
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            font-size: 40px;
            text-align: center;
            width: 100%;
            line-height: 120%;
            padding-top: 148px;
        }
        &__subtitle {
            font-size: 16px;
            text-align: center;
            width: 100%;
            line-height: 100%;
            padding-top: 24px;
        }
        &__button {
            width: 285px;
            height: 55px;
            text-align: center;
            font-size: 16px;
            margin-top: 36px;
        }
        &__strip {
            width: 108%;
        }
    }
    .background {
        background-image: none;
        background-color: #202027;
    }
    .games {
        display: none;
    }
    .minigames {
        margin-top: 0px;
        padding-top: 48px;
        padding-bottom: 10px;
        gap: 24px;
        &__title {
            font-weight: 700;
            font-size: 40px;
            vertical-align: middle;
            margin-bottom: 0px;
        }
        &__card {
            &-leftside {
                height: 100%;
                flex-direction: column;
                border-radius: 30px;
            }
            &-rightside {
                height: 100%;
                flex-direction: column;
                border-radius: 30px;
            }
        }
        &__text {
            padding-left: 29px;
            padding-right: 29px;
        }
        &__name {
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            margin-top: 28px;
        }
        &__description {
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            padding-top: 16px;
            padding-bottom: 32px;
        }
        &__button {
            width: 285px;
            height: 55px;
            border-radius: 60px;
            border-width: 1px;
            margin-bottom: 32px;
            align-self: center;
        }
    }
}