* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-color: #E1FF8F;
  height: 800px;
  background-image: url(img/background_main.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.header__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-top: 196px;
  width: 769px;
}
.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-top: 24px;
  width: 720px;
}
.header__button {
  margin-top: 48px;
  display: block;
  width: 247px;
  height: 66px;
  border-width: 1px;
  border-color: #000000;
  border-radius: 60px;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  align-content: center;
}
.header__button:hover {
  background-color: #FFFFFF;
  color: #000000;
  transition: all 1s;
  cursor: pointer;
}
.header__strip {
  background-color: #BCEC30;
  border-width: 1px;
  margin-top: 184px;
}

.background {
  background: url(img/background_games.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.games {
  height: 100%;
}
.games__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-top: 94px;
}

.games__subtitle {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-top: 24px;
}
.games__box {
  margin-top: 72px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.games__box-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.games__card {
  border-radius: 30px;
  background-color: #FFFFFF;
  color: #000000;
}
.games__card:hover {
  border-color: #000000;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s;
}
.games__card-1 {
  height: 473px;
  width: 378px;
}
.games__card-2 {
  height: 512px;
  width: 378px;
}
.games__card-3 {
  height: 473px;
  width: 378px;
}
.games__card-4 {
  height: 551px;
  width: 378px;
}
.games__card-5 {
  height: 512px;
  width: 378px;
}
.games__card-6 {
  height: 551px;
  width: 378px;
}
.games__img {
  width: 100%;
}
.games__number {
  background-color: #F7F7F7;
  width: 108px;
  height: 36px;
  border-radius: 52.5px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  vertical-align: bottom;
  margin-top: 32px;
  align-content: center;
  margin-left: 32px;
  text-align: center;
}
.games__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-left: 32px;
  margin-top: 16px;
}

.minigames {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
  padding-bottom: 144px;
}
.minigames__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-bottom: 72px;
}
.minigames__card-leftside {
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.minigames__card-rightside {
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
}
.minigames__text {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
}
.minigames__img {
  height: 100%;
}
.minigames__name {
  margin-top: 48px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  justify-content: space-between;
}
.minigames__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-top: 24px;
  padding-bottom: 36px;
}
.minigames__button {
  width: 247px;
  height: 66px;
  gap: 10px;
  border-width: 1px;
  border-color: #000000;
  border-radius: 60px;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  align-content: center;
}
.minigames__button:hover {
  background-color: #fff;
  color: #000000;
  transition: all 1s;
  cursor: pointer;
}

.footer {
  height: 150px;
  background-color: #BDED35;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  align-content: center;
}

@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-color: #E1FF8F;
    background-image: url(img/background_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-size: 40px;
    text-align: center;
    width: 100%;
    line-height: 120%;
    padding-top: 148px;
  }
  .header__subtitle {
    font-size: 16px;
    text-align: center;
    width: 100%;
    line-height: 100%;
    padding-top: 24px;
  }
  .header__button {
    width: 285px;
    height: 55px;
    text-align: center;
    font-size: 16px;
    margin-top: 36px;
  }
  .header__strip {
    width: 108%;
  }
  .background {
    background-image: none;
    background-color: #202027;
  }
  .games {
    display: none;
  }
}